* {
  font-family: "Akshar", sans-serif;
}

body {
  display: flex;
  background: #2d3436;
  color: #fdcb6e;
  width: 300px;
  padding: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.white-text {
  color: white;
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
}

label {
  font-size: 1.2rem;
  margin-right: 10px;
}

#formsubmit {
  margin-top: 20px;
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 3px;
}
